.background {
  background-image: url("/assets/main/localbg.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.playbox {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 30%;
}

.current-player {
  margin-top: 12vh;
  font-family: 'hyft';
  font-size: 5rem;
  color: #ffccaa;
  user-select: none;
}

@keyframes fill-button {
  0%, 100% {
    background-position: 100%;
  }

  50% {
    background-position: 0%;
  }
}

@keyframes scale-text {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(1);
  }
}

.scale-text {
  box-shadow: #000;
  font-size: 5rem;
  animation-name: scale-text;
  // animation-timing-function: linear;
  animation-duration: 1s;
}

.throw-button {
  &:hover {
    // background-image: linear-gradient(to bottom right, red, red);
    background-color: #cc3333;
  }

  &:active {
    animation-name: fill-button;
    animation-duration: 2s;
    animation-timing-function: linear;
    // transition-timing-function: linear;
    // background-color: #cc0000;
  }

  cursor: pointer;
  // background-color: #ff2222;
  background: linear-gradient(90deg, #aa0000 50%, #ff2222 50%);
  background-size: 200%;
  background-position: 100%;
  font-family: "hyft";
  color: #ffe3c2;
  border-style: solid;
  border-color: #ffccaa;
  user-select: none;
  margin-bottom: 8vh;
  width: 40%;
  height: 3rem;
  border-width: 0.3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.modal {
  // display: none; /* Hidden by default */
  // display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

// .modal-content {
//   background-color: rgb(206, 77, 77);
//   margin: 25% auto; /* 15% from the top and centered */
//   padding: 20px;
//   width: 4rem; /* Could be more or less, depending on screen size */
//   height: 2rem;
//   border-radius: 2rem;
//   border-width: 0.2rem;
//   border-style: solid;
//   border-color: #ffe3c2;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  font-family: 'hyft';
  color: #ffe3c2;
  animation-name: scale-text;
  animation-duration: 1s;
  // animation-timing-function: ease-in-out;
}

.ranking-list {
  user-select: none;
  position: absolute;
  // bottom: 0;
  right: 0;
  top: 60vh;
  font-size: 1rem;
  font-family: 'hyft';
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  height: 30vh;
  color: #ffccaa;
}

.ranking-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.ranking-item {
  display: flex;
  flex-direction: row;
}

.ranking-index {
  width: 2rem;
}

.ranking-name {
  width: 5rem;
  overflow: hidden;
}

.ranking-max {
  width: 5rem;
  text-align: right;
  overflow: hidden;
}
